<div class="container">

  <h2>🤖 Mobile AI Agent</h2>

  <input
    type="text"
    [(ngModel)]="message"
    placeholder="Ask for a phone..."
  >

  <button (click)="sendMessage()">
    Send
  </button>
  <div *ngIf="loading">
  <h3>🔍 Searching phones...</h3>
</div>

  <div *ngIf="response">

    <div class="recommendation">
      <h3>Recommendation</h3>
      <p>{{ response.recommendation }}</p>
    </div>

    <div
  *ngIf="response && response.phones && response.phones.length === 0">

  <h3>No phones found</h3>

  <p>Try increasing your budget or changing brand.</p>

</div>

    <div class="phone-container">

      <div
        class="phone-card"
        *ngFor="let phone of response.phones">

        <h3>{{ phone.name }}</h3>

        <p><strong>Brand:</strong> {{ phone.brand }}</p>

        <p><strong>Price:</strong> ₹{{ phone.price }}</p>

        <p><strong>Rating:</strong> ⭐ {{ phone.rating }}</p>

        <p><strong>Camera:</strong> {{ phone.camera }}</p>

        <p><strong>Battery:</strong> {{ phone.battery }}</p>

        <p><strong>Processor:</strong> {{ phone.processor }}</p>

      </div>

    </div>

  </div>

</div>