<div class="container">

  <h2>Mobile AI Agent</h2>

  <input
    type="text"
    [(ngModel)]="message"
    placeholder="Ask for a phone..."
  >

  <button (click)="sendMessage()">
    Send
  </button>

  <hr>

  <div *ngIf="response?.phones?.length">

  <h3>Phones</h3>

  <div *ngFor="let phone of response.phones">

    <h4>{{ phone.name }}</h4>

    <p>Brand: {{ phone.brand }}</p>

    <p>Price: ₹{{ phone.price }}</p>

    <p>Rating: ⭐ {{ phone.rating }}</p>

    <hr>

  </div>

</div>

  <div *ngIf="response">

    <h3>Recommendation</h3>

    <p>{{ response.recommendation }}</p>

  </div>



</div>